﻿@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .break {
        page-break-before: always;
    }

    .actives_pag {
        color: blue;
        background-color: gray;
        border: 1px solid gray;
        padding: 10px;
        display: inline-block;
        margin-top: 2px;
        width: 40px;
        text-align: center;
    }

    .actives_none {
        color: black;
        background-color: white;
        border: 1px solid gray;
        padding: 10px;
        display: inline-block;
        margin-top: 2px;
        width: 40px;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="pageheader">
    <h1>Item Stock</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Item Stock</li>
        </ol>
    </div>
</div>

<section id="main-content" class="animated fadeInUp">

    <div class="row">

        <div class="col-md-12" id="validateDiv">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Stock Check</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-chevron-down"></i>
                        @*<i class="fa fa-times"></i>*@
                    </div>
                </div>
                <div class="panel-body">

                    <div class="table-responsive" align="center">
                        <table id="mainTbl" class="table table-bordered table-striped" style="width:600px">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center">Please Fill Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="table-layout:fixed;width:210px">Store Name</td>
                                    <td>
                                        <select id="store" name="store" onchange="storeChanged();">
                                            @{
                                                foreach (var item in ViewBag.StoreArrays)
                                                {
                                                    if (ViewBag.StoreArrays.IndexOf(item) == ViewBag.StoreArrays.Count - 1)
                                                    {
                                                        //        ViewBag.JavaScriptFunction = string.Format("hideLoaderSpinner('{0}');", name);
                                                        //JavaScript("hideLoaderSpinner();");
                                                        <script type="text/javascript">
                                                            $("#LoaderDiv").hide();
                                                        </script>
                                                    }
                                                    <option value="@item.store_id">
                                                        @item.store_name
                                                    </option>

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Item Name</td>
                                    <td>
                                        <input style="float:left" onblur="onblurz('itemN');" onchange="BoxOnchange('itemN');" type="text" onkeyup="itemSearch('itemN');" id="itemN" name="itemN" class="form-control newitems" placeholder="Enter Item Name" />
                                        <a href="javascript:;" style="color:blue;float:right;margin-top:10px;margin-right:10px" onclick="$('#itemN').val('');BoxOnchange('itemN');">Clear</a>
                                        <label style="display:normal;margin-left:10px" class="itemcodes itemN"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button id="more" onclick="newItem(this);" class="w3-button w3-green">Add Item</button>
                                        <button id="getstock" onclick="getResultStock();" class="w3-button" style="background-color:lightgray">Check Stock</button>
                                        <button id="refr" onclick="$('.newitems').val('');location.reload();" class="w3-button" style="background-color:brown;color:white">Clear All</button>
                                     </td>
                                </tr>
                                <tr id="itemresult">
                                    <td colspan="2">
                                        <table class="table table-bordered table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Code</th>
                                                    <th style="text-align:center">Item</th>
                                                    <th class="qnty" style="text-align:center;display:none">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody id="itemResult">
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="stockresult" style="display:none">
                                    <td colspan="2">
                                        <table class="table table-bordered table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Code</th>
                                                    <th style="text-align:center">Item</th>
                                                    <th class="qnty" style="text-align:center;display:normal">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody id="stockTable">
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center">
                                        <h4 style="color:firebrick;" class="errorr"></h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>

</section>
<script>
    var itemCounter = 0;
    var itemNameArray = [];
    function storeChanged() {        
        $("#stockresult").hide();
        $("#stockTable").empty();
        $("#itemresult").show();
    }
    function getResultStock() {
        itemNameArray = [];
        $('.itemcodes').each(function() {
            var currentElement = $(this);
            var value = currentElement.text();
            itemNameArray.push(value);
        });
        if ($("#store").val() != '' && itemNameArray.length>0) {
            $("#itemresult").hide();
            $("#stockresult").show();
            $("#stockTable").empty();
            //alert(JSON.stringify(itemNameArray));
            //Loop through statesAvailable
             var jsonDataVals = JSON.stringify({ 'itemNameArray': itemNameArray, "storeId": $("#store").val() });
            $.ajax({
                url: "Home/getResultStock",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: jsonDataVals,
                async: false,
                success: function (data) {

                    //alert(JSON.stringify(data.Item_list));
                    retResult = data.Item_list;
                    var iterate = 0;
                    for (var i = 0; i < retResult.length; i++) {
                        lastcounter = retResult[i].item_id;
                        var t = "#itemN";
                        if (iterate >= 0&&i>0) {
                            t = "#itemN" + iterate;
                        }
                        if ($(t).val() == "") {
                            if (i == 0)
                                t = "#itemN" + iterate;
                            else {
                                iterate++;
                                t = "#itemN" + iterate;
                            }

                        }
                        //alert(t);
                        $("#stockTable").append(`<tr>
 <td style="padding:10px">
                            `
                            + retResult[i].item_id +
                            `
                        </td>
 <td style="padding:10px">
                            `
                            + $(t).val() +
                            `
                        </td>
 <td style="padding:10px">
                            `
                            + retResult[i].item_quantity +
                            `
                        </td>
                    </tr>`);
                        if (i > 0)
                            iterate++;
                    }
                },
                error: function (xhr, status, error) {
                    //hideLoaderSpinner();
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    alert('Error - ' + errorMessage);
                }
            });
        }
    }
    function BoxOnchange(boxNm) {
       // if ($("#" + boxNm).val() == "") {
            $("." + boxNm).text("");
        //}
    }
    function onblurz(boxNm) {
        if ($("#" + boxNm).val() == "") {
            $("." + boxNm).text("");
        }
        //if ($("#"+boxNm).val() == "") {

        //    var n = $("#"+boxNm).attr('id');
        //    n = n.replace('itemN', '');
        //    //alert(n + ' ' + itemNameArray.length);
        //    if (n != "") {
        //        if (n == itemNameArray.length - 2) {
        //            itemNameArray.splice(n, 1);
        //        }
        //    } else {
        //        itemNameArray.splice(0, 1);
        //        //alert(itemNameArray.length);
        //    }
        //}
    }
    function deleteItem(id) {
        var RowIndex = $("#itemN"+id).closest('td').parent()[0].sectionRowIndex;
        $('#mainTbl > tbody > tr:eq(' + RowIndex - 1 + ')').remove();
    }
    function newItem(id) {
        var hasNoValue = false;
    $('.newitems').each(function(i) {
        if ($(this).val() == '') {
              hasNoValue = true;
        }
    });
        if (hasNoValue==false && ($("#itemresult").is(":visible") == false || $("#itemResult").children().length == 0)) {
            $("#itemResult").empty();
            var RowIndex = $(id).closest('td').parent()[0].sectionRowIndex;
            $('#mainTbl > tbody > tr').eq(RowIndex - 1).after(`
            <tr>
            <td>
                Item Name
             </td>

<td>
               <input style="float:left;" onblur="onblurz('itemN`+ itemCounter + `');" onchange="BoxOnchange('itemN`+ itemCounter + `');" type="text" onkeyup="itemSearch('itemN`+ itemCounter + `');" id="itemN` + itemCounter + `" name="itemN` + itemCounter + `" class="form-control newitems" placeholder="Enter Item Name" />
<a href="javascript:;" style="color:blue;float:right;margin-top:10px;margin-right:10px" onclick="$('#itemN`+ itemCounter + `').val('');BoxOnchange('itemN`+ itemCounter + `');">Clear</a>

<label style="display:normal;margin-left:10px" class="itemcodes itemN`+ itemCounter + `"></label>

             </td>
</tr>
       `);
            itemCounter++;
        }
    }
    var statesAvailable;
    $("#LoaderDiv").hide();
    var itemsArray = [];
    var itemsArrayStock = [];
    var lastcounter = 0;
    var retResult = [];
    function getStock(id, boxNm) {
        var RowIndex = $(id).closest('td').parent()[0].sectionRowIndex;
        $(boxNm).val($("#itemResult").find('tr:eq(' + RowIndex + ')>td:eq(1)').text().trim());
        var n = $(boxNm).attr('id');
        $("." + $(boxNm).attr('id')).text($("#itemResult").find('tr:eq(' + RowIndex + ')>td:eq(0)').text().trim());
       //alert(boxNm);
        n = n.replace('itemN', '');
        if (n != "") {
            if (n ==  itemNameArray.length-2) {
                itemNameArray[n] = $("#itemResult").find('tr:eq(' + RowIndex + ')>td:eq(0)').text().trim();
            } else {
                itemNameArray.push($("#itemResult").find('tr:eq(' + RowIndex + ')>td:eq(0)').text().trim());
            }
        } else {
            if (itemNameArray.length == 1) {
                itemNameArray.length = 0;
                itemNameArray = [];
                itemNameArray[0] = $("#itemResult").find('tr:eq(' + RowIndex + ')>td:eq(0)').text().trim();
            } else {
                itemNameArray.push($("#itemResult").find('tr:eq(' + RowIndex + ')>td:eq(0)').text().trim());
            }
        }
        $("#itemResult").empty();
    }
    function itemSearch(id) {
        itemsArray.length = 0;
        itemsArray = [];
        //alert($("#"+id).val().length);
          $("#itemresult").show();
          $("#stockresult").hide();
        //alert(id);
        $("#itemResult").empty();
        if ($("#" + id).val() == "" || $("#"+id).val().length <= 3) {
            $("." + id).text("");
        }
        if ($("#"+id).val().length > 3) {
            //Loop through statesAvailable
            var jsonDataVals = JSON.stringify({ 'itemName': $("#"+id).val(), "itemID": lastcounter });
            $.ajax({
                url: "getItemStock/getItems",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: jsonDataVals,
                async: false,
                success: function (data) {

                    //alert(JSON.stringify(data.Item_list));
                    retResult = data.Item_list;
                    for (var i = 0; i < retResult.length; i++) {
                        lastcounter = retResult[i].item_id;
                        $("#itemResult").append(`<tr>
                        <td style="padding:10px" onclick="getStock(this,`+id+`);">
                            `
                            + retResult[i].item_id +
                            `
                        </td>
 <td style="padding:10px" onclick="getStock(this,`+id+`);">
                            `
                            + retResult[i].item_name +
                            `
                        </td>
 <td style="padding:10px;display:none" class="qnty" onclick="getStock(this,`+id+`);">
                            `
                            + retResult[i].item_quantity +
                            `
                        </td>
                    </tr>`);
                    }
                },
                error: function (xhr, status, error) {
                    //hideLoaderSpinner();
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    alert('Error - ' + errorMessage);
                }
            });
        }
    }
</script>
